@import "./components/variables";

// Original bootstrap style
@import "../../node_modules/bootstrap/scss/bootstrap";

// card
.card-img-top,
.card-img-bottom {
  max-width: 20%;
  height: auto;
  margin-top: 20px;
  border-radius: 50%;
}

// NAV
.navbar {
  background-color: $white;
  font-weight: 600;
}

.nav-link:hover {
  background-color: $secondary;
}

// Body
main {
  min-height: 100vh;
}

// cutomised btn
.btn-primary-login {
  background-color: $secondary;
  opacity: 0.6;
  transition: 0.3s;
  border: solid 1px black;
}

.btn-primary-login:hover {
  opacity: 1;
  background-color: $secondary;
}